/* RESET CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'Mont';
    src: url(Assets/Montserrat-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

.logo {
    width: 17rem;
}

.item {
    font: 500 1.7rem 'Mont', sans-serif;
    color: #678471;
}

.item:hover {
    color: #ffa36a;
    transition: 0.3s;
    font: 500 30px 'Mont', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header {
    margin: 0 30px;
}

/* DIVISÃO */
.divisao {
    height: .0625rem;
    background-color: #47564C;
    margin: 23px 0;
}

/* NOSSA COMIDA */
.nossaComida {
    width: 600px;
    height: auto;
    border-radius: 8px;
}

.container {
    display: flex;
    margin: 0 80px;
}

.titulo {
    font: 500 33px 'Mont', sans-serif;
    color: #47564C;
    margin-bottom: 30px;
}

.texto {
    font: 300 20px 'Mont', sans-serif;
    color: black;
    text-align: justify;
}

.conteudo {
    margin: 60px 0 0 40px;
}

/* NOSSA EQUIPE */
.panela {
    width: 600px;
    height: auto;
    border-radius: 8px;
    margin-left: 30px;
}

/* CARDÁPIO */
.comida {
    width: 150px;
}

.comida:hover {
    width: 200px;
    cursor: pointer;
    transition: 0.3s;
}

.pratos {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.prato {
    border: 2px solid black;
    width: 400px;
    margin: 20px;
    border-radius: 5px;
    padding: 8px 11px;
}

.cardapio-conteudo {
    display: flex;
    flex-direction: column;
}

.cardapio {
    margin: 0 80px;
}

.nome, .preco {
    font: 700 18px 'Mont', sans-serif;
}

.descricao {
    font: 400 14px 'Mont', sans-serif;
    text-align: justify;
}

/* RODAPÉ */
#contato {
    background-color: #678471;
    padding: 30px;
    margin-top: 50px;
}

#contato .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icone {
    width: 40px;
    padding: 8px;
}

.name {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 80px;
}

.name .amm {
    font: 500 35px 'Mont', sans-serif;
    color: #fff;
}

.name .cs {
    font: 500 20px 'Mont', sans-serif;
    color: #ffa36a;
}

.redes {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
}

.rede {
    display: flex;
    align-items: center;
}

.endereco-titulo {
    font: 500 25px 'Mont', sans-serif;
    color: #fff;
}

.endereco-nome {
    font: 300 18px 'Mont', sans-serif;
    color: #fff;
    text-align: justify;
}

.rede-nome {
    font: 300 18px 'Mont', sans-serif;
    color: #fff;
    margin-top: 4px;
}

@media screen and (max-width: 400px) {
    .container {
        margin: 0;
        border: 0;
        padding: 0;
        display: block;
    }

    .nossaComida, .panela {
        width: 90vw;
        height: auto;
    }

    .imagem{
        text-align: center;
    }
 
    .nossaComida .conteudo .titulo {
        font: 500 23px 'Mont', sans-serif;
        margin: 15px 0;
    }

    .cardapio .titulo {
        font: 500 23px 'Mont', sans-serif;
        margin: 15px 0;
    }

    #header .menu .item {
        font: 400 8px 'Mont', sans-serif;
        padding: 0 2px;
    }

    #header .menu .item:hover {
        font: 400 8px 'Mont', sans-serif;
        padding: 0 2px;
    }

    .menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .conteudo .texto {
        font: 300 15px 'Mont', sans-serif;
    }

    .imagem .logo {
        width: 70vw;
        height: auto;
        margin-left: 25px;
    }

    #header .menu {
        display: block;
    }

    .conteudo {
        margin: 0 20px;
        padding: 0;
        border: 0;
    }

    .prato {
        width: 80vw;
        margin: 10px 0;
    }

    .cardapio {
        margin: 0 20px;
    }

    #nossaEquipe .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .section {
        margin: 15px 0 0;
    }

    #contato {
        margin: 0;
        border: 0;
        padding: 0;
    }

    #contato .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        border: 0;
        padding: 0;
    }

    .name {
        width: 90vw;
        text-align: center;
        margin: 0;
    }

    .name .amm {
        font: 500 30px 'Mont', sans-serif;
        margin: 10px 0 0;
    }

    .redes {
        display: block;
        margin: 20px 0;
        width: 90vw;
    }

    .rede {
        display: flex;
        text-align: center;
        margin: 10px 0;
        width: 90vw;
    }

    .endereco {
        width: 90vw;
        margin-bottom: 25px;
    }

    .panela {
        margin: 0;
    }
}